body {
    font-family: 'Karla', sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

.meme-text {
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
}

.bg-gradient {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%) !important;
}

.bg-gradient-slided {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%) !important;
}